# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints

# Python environment
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
